@model IEnumerable<SammyFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
       @*@DateTime.Now.Year*@
    <div>
        There are @Model.Count() restuarants in the db
    </div>
    </section>
    @*<ul>
       @foreach (var restuarant in Model)
            {
                <li>
                    @restuarant.Name
                </li>
            }
    </ul>*@

</main>